/****** Script for SelectTopNRows command from SSMS  ******/
SELECT FGATEWAY_TS, FTID, FMID, FSTORECODE, FAPPRCODE, FRRN, FPREPAIDCARDNUM, FAMOUNT FROM [DbWDGatewayIDM].[dbo].[TTRANSACTION]
where FGATEWAY_TS = '20170524133836'
and FTID = '80080052'
and FMID = '000080080088887'
and FSTORECODE = 'TRIE'
and FAPPRCODE = '764777'
and FRRN = '714430258751'
and FPREPAIDCARDNUM = '6032984018572614'
and FAMOUNT = '11111'
