/****** Script for SelectTopNRows command from SSMS  ******/
SELECT top 600 FTRX_TS, FTID, FMID, FSTORECODE, FAPPRCODE, FRRN, FPREPAIDCARDNUM, FAMOUNT, FSTATUS
  FROM [DbWDGatewayIDM].[dbo].[TTRANSACTION]
   